.clearfix:after,
.clearfix:before {
  content: "";
  display: block;
  clear: both;
  /*height: 0;*/
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.navShop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3866666666666667rem 0.64rem 0.64rem 0.64rem;
  font-size: 0.7253333333333334rem;
  line-height: 0.7253333333333334rem;
  text-align: center;
  color: #ffffff;
}
.navShop .iconBack {
  width: 0.4266666666666667rem;
  float: left;
}
.navShop .iconMore {
  width: 0.9386666666666666rem;
  float: right;
  margin-top: 0.21333333333333335rem;
}
.navShop .iconShare {
  position: absolute;
  width: 0.8106666666666666rem;
  margin-right: 0.8533333333333334rem;
  top: 1.28rem;
  right: 1.7066666666666668rem;
}
.personHome {
  position: relative;
  border-bottom: 0.4266666666666667rem solid #f3f3f3;
}
.personHome .personPage {
  width: 100%;
  height: 11.733333333333333rem;
  background: url("../images/personalHome.jpg") center no-repeat;
  background-size: 100%;
  filter: blur(5px);
}
.personHome .shade {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.personHome .shade .personHeader {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 3.2rem;
  overflow: hidden;
  background: url("../images/personalHome.jpg") center no-repeat;
  background-size: cover;
}
.personHome .shade .personName {
  font-size: 0.5973333333333334rem;
  color: #ffffff;
  margin-top: 0.4266666666666667rem;
}
.personHome .shade .personName .gender {
  width: 0.5333333333333333rem;
  vertical-align: middle;
}
.personHome .shade .personName .level {
  width: 0.576rem;
  vertical-align: baseline;
}
.personHome .shade .personName span {
  font-size: 0.512rem;
  color: #ef508d;
  margin-top: 0px;
  margin-left: -0.21333333333333335rem;
}
.personHome .shade .personFollow {
  display: inline-block;
  width: 2.474666666666667rem;
  height: 0.8533333333333334rem;
  border-radius: 0.17066666666666666rem;
  border: 1px solid #ffffff;
  line-height: 0.96rem;
  text-align: center;
  font-size: 0.512rem;
  color: #ffffff;
  margin-top: 0.64rem;
}
.personHome .shade .personFollow img {
  width: 0.3413333333333333rem;
  vertical-align: middle;
  margin-top: -0.10666666666666667rem;
}
.shopMessage {
  display: flex;
  justify-content: space-around;
  margin-top: 0.8533333333333334rem;
}
.shopMessage .shopItem .number {
  margin-bottom: 0.2986666666666667rem;
  font-size: 0.768rem;
  color: #ffffff;
}
.shopMessage .shopItem .text {
  font-size: 0.5546666666666666rem;
  color: #ffffff;
}
.shopMessage .shopItem .line {
  width: 0.021333333333333333rem;
  height: 0.512rem;
  background-color: #DCDCDC;
  margin-top: 0.7466666666666667rem;
}
.shopMessage .shopItem p {
  font-size: 0.768rem;
  color: #666666;
  text-align: center;
}
.fixHeight {
  width: 100%;
  height: 2.1333333333333333rem;
}
.shopList {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #eeeeee;
}
.shopList .shopItem {
  font-size: 0.64rem;
  color: #333333;
  line-height: 2.1333333333333333rem;
}
.activeShowItem {
  font-size: 0.64rem;
  color: #ef508d!important;
  border-bottom: 0.08533333333333333rem solid #ef508d;
}
.userList {
  box-sizing: border-box;
  padding: 0 0.64rem;
  border-bottom: 0.21333333333333335rem solid #eeeeee;
}
.userList .userHeader {
  position: relative;
  margin-top: 0.8533333333333334rem;
}
.userList .userHeader .userImg {
  width: 1.28rem;
  height: 1.28rem;
  border-radius: 50%;
  background-image: url("../images/userImg01.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}
.userList .userHeader .userMessage {
  font-size: 0.5973333333333334rem;
  color: #363636;
  font-weight: bold;
  line-height: 0.5973333333333334rem;
  margin-left: 1.7066666666666668rem;
  margin-bottom: 0.21333333333333335rem;
}
.userList .userHeader .userMessage img {
  width: 0.5333333333333333rem;
  height: 0.5333333333333333rem;
  vertical-align: top;
}
.userList .userHeader .userMessage .levelNum {
  color: #ef508d;
  font-size: 0.512rem;
  font-weight: bold;
  margin-left: -6px;
}
.userList .userHeader .userText {
  font-size: 0.5973333333333334rem;
  color: #999999 ;
  margin-left: 1.7066666666666668rem;
}
.userList .userHeader .follow {
  width: 2.1333333333333333rem;
  height: 0.8533333333333334rem;
  border-radius: 1.0666666666666667rem;
  font-size: 0.4693333333333333rem;
  color: #ef508d;
  position: absolute;
  right: 0rem;
  top: 0.21333333333333335rem;
  border: 1px solid #ef508d;
  line-height: 0.8533333333333334rem;
  text-align: center;
}
.userList .userHeader .follow .followImg {
  width: 0.3413333333333333rem;
  height: 0.3413333333333333rem;
  display: inline-block;
}
.userList .userHeader .follow .followImg img {
  width: 100%;
  vertical-align: baseline;
}
.userList .userPhoto {
  margin-top: 0.8533333333333334rem;
}
.userList .userPhoto .left,
.userList .userPhoto .right {
  width: 7.1466666666666665rem;
  height: 7.1466666666666665rem;
  border-radius: 0.21333333333333335rem;
  background-color: red;
}
.userList .userPhoto .left {
  background: url("../images/userBefore.png") center no-repeat;
  background-size: 100%;
  float: left;
  position: relative;
}
.userList .userPhoto .left .before,
.userList .userPhoto .right .after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2.1333333333333333rem;
  height: 0.8533333333333334rem;
  border-radius: 0 0.21333333333333335rem 0 0.21333333333333335rem;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 0.5546666666666666rem;
  line-height: 0.8533333333333334rem;
  text-align: center;
}
.userList .userPhoto .right {
  position: relative;
  background: url("../images/userAfter.png") center no-repeat;
  background-size: 100%;
  float: right;
}
.userList .userComment {
  font-size: 0.5973333333333334rem;
  color: #8C8C8C ;
  margin-top: 0.5333333333333333rem;
  margin-bottom: 0.5333333333333333rem;
}
.userList .userPro {
  line-height: 0.5546666666666666rem;
}
.userList .userPro .iconCom {
  display: inline-block;
  width: 0.512rem;
  height: 0.512rem;
  background: url("../images/icon_Commodity-link@2x.png") no-repeat;
  background-size: 100%;
}
.userList .userPro .userProName {
  font-size: 0.5546666666666666rem;
  color: #ef508d;
}
.userList .attention {
  line-height: 0.5546666666666666rem;
  display: flex;
  justify-content: space-between;
  margin: 0.8533333333333334rem 0 0.5333333333333333rem 0;
}
.userList .view .viewImg {
  display: inline-block;
  width: 0.64rem;
  height: 0.64rem;
  background: url("../images/icon_browse@2x.png") center no-repeat;
  background-size: 100%;
}
.userList .view img,
.userList .support img,
.userList .comment img {
  width: 0.64rem;
  vertical-align: middle;
}
.userList .view .viewNum,
.userList .support .viewNum,
.userList .comment .viewNum {
  font-size: 0.5546666666666666rem;
  color: #B8B8B8;
}
.userList {
  box-sizing: border-box;
  padding: 0 0.64rem;
}
.userHeader {
  position: relative;
  margin-top: 0.8533333333333334rem;
}
.userHeader .userImg {
  width: 1.28rem;
  height: 1.28rem;
  border-radius: 50%;
  background-image: url("../images/userImg01.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}
.userHeader .userMessage {
  font-size: 0.5973333333333334rem;
  color: #363636;
  font-weight: bold;
  line-height: 0.5973333333333334rem;
  margin-left: 1.7066666666666668rem;
  margin-bottom: 0.21333333333333335rem;
}
.userHeader .userMessage img {
  width: 0.5333333333333333rem;
  height: 0.5333333333333333rem;
  vertical-align: top;
}
.userHeader .userMessage .levelNum {
  color: #ef508d;
  font-size: 0.512rem;
  font-weight: bold;
  margin-left: -6px;
}
.userHeader .userText {
  font-size: 0.5973333333333334rem;
  color: #999999 ;
  margin-left: 1.7066666666666668rem;
}
.userHeader .follow {
  width: 2.1333333333333333rem;
  height: 0.8533333333333334rem;
  border-radius: 1.0666666666666667rem;
  font-size: 0.4693333333333333rem;
  color: #ef508d;
  position: absolute;
  right: 0rem;
  top: 0.21333333333333335rem;
  border: 1px solid #ef508d;
  line-height: 0.8533333333333334rem;
  text-align: center;
}
.userHeader .follow .followImg {
  width: 0.3413333333333333rem;
  height: 0.3413333333333333rem;
  display: inline-block;
}
.userHeader .follow .followImg img {
  width: 100%;
  vertical-align: baseline;
}
.userPhoto {
  margin-top: 0.8533333333333334rem;
}
.userPhoto .left,
.userPhoto .right {
  width: 7.1466666666666665rem;
  height: 7.1466666666666665rem;
  border-radius: 0.21333333333333335rem;
  background-color: red;
}
.userPhoto .left {
  background: url("../images/userBefore.png") center no-repeat;
  background-size: 100%;
  float: left;
  position: relative;
}
.userPhoto .left .before,
.userPhoto .right .after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2.1333333333333333rem;
  height: 0.8533333333333334rem;
  border-radius: 0 0.21333333333333335rem 0 0.21333333333333335rem;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 0.5546666666666666rem;
  line-height: 0.8533333333333334rem;
  text-align: center;
}
.userPhoto .right {
  position: relative;
  background: url("../images/userAfter.png") center no-repeat;
  background-size: 100%;
  float: right;
}
.userComment {
  font-size: 0.5973333333333334rem;
  color: #8C8C8C ;
  margin-top: 0.5333333333333333rem;
  margin-bottom: 0.5333333333333333rem;
  line-height: 0.64rem;
}
.userPro {
  line-height: 0.5546666666666666rem;
}
.userPro .iconCom {
  display: inline-block;
  width: 0.512rem;
  height: 0.512rem;
  background: url("../images/icon_Commodity-link@2x.png") no-repeat;
  background-size: 100%;
}
.userPro .userProName {
  font-size: 0.5546666666666666rem;
  color: #ef508d;
}
.attention {
  line-height: 0.5546666666666666rem;
  display: flex;
  justify-content: space-between;
  margin: 0.8533333333333334rem 0 0.5333333333333333rem 0;
}
.view .viewImg {
  display: inline-block;
  width: 0.64rem;
  height: 0.64rem;
  background: url("../images/icon_browse@2x.png") center no-repeat;
  background-size: 100%;
}
.view img,
.support img,
.comment img {
  width: 0.64rem;
  vertical-align: middle;
}
.view .viewNum,
.support .viewNum,
.comment .viewNum {
  font-size: 0.5546666666666666rem;
  color: #B8B8B8;
}
.userShow {
  box-sizing: border-box;
  padding: 0 0.64rem;
  height: 8.853333333333333rem;
  border-bottom: 0.21333333333333335rem solid #eeeeee;
}
/*.userShow .userHeader .follow .fllowTest{
  color: #999999;
}
.userShow .userHeader .follow{
  width: 115/@rem;
  border: 1px solid #999;
}*/
.userShow .userTitle {
  font-size: 0.7253333333333334rem;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.7253333333333334rem;
  margin: 0.7466666666666667rem 0 0.64rem 0;
}
.userShow .userText {
  position: relative;
}
.userShow .userText .viewP {
  position: absolute;
  right: 5.12rem;
  bottom: -1.28rem;
}
.userShow .userText .userProShow {
  position: absolute;
  left: 0;
  bottom: -1.28rem;
}
.userShow .userText .userTextLeft {
  font-size: 0.5546666666666666rem;
  color: #999;
  width: 9.6rem;
  height: 3.2rem;
  line-height: 200%;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  float: left;
}
.userShow .userText .iconLink {
  background: url("../images/btn_Article-links@2x.png") no-repeat;
  background-size: 100%;
}
.userShow .userTextRight {
  width: 4.266666666666667rem;
  height: 4.266666666666667rem;
  background: url("../images/userShowImg.png") no-repeat;
  background-size: 100%;
  border-radius: 0.17066666666666666rem;
  position: absolute;
  top: 0;
  right: 0;
}
.userShow .userTextRight .imgNum {
  font-size: 0.5546666666666666rem;
  color: #ffffff;
  position: absolute;
  right: 0.21333333333333335rem;
  bottom: 0.21333333333333335rem;
}
