body {
  background-color: #f3f3f3;
}
.navScare {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3866666666666667rem 0.64rem 0.64rem 0.64rem;
  border-bottom: 1px solid #eeeeee;
  font-size: 0.7253333333333334rem;
  line-height: 0.7253333333333334rem;
  text-align: center;
  color: #333333;
}
.navScare .iconBack {
  width: 0.4266666666666667rem;
  float: left;
}
.navScare .iconMore {
  width: 0.9386666666666666rem;
  float: right;
  margin-top: 0.21333333333333335rem;
}
.navScare .iconShare {
  width: 0.8106666666666666rem;
  float: right;
  margin-right: 0.8533333333333334rem;
}
.shopWrapper {
  margin-top: 2.7733333333333334rem;
  background-color: #ffffff;
}
.shopSelect {
  box-sizing: border-box;
  padding: 0 0.64rem;
  font-size: 0.5546666666666666rem;
  color: #666666;
  line-height: 2.1333333333333333rem;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f5f5f5;
}
.shopSelect .city {
  font-size: 0.64rem;
  color: #333333;
}
.shopSelect .area {
  font-size: 0.64rem;
  color: #333333;
}
.shopSelect .modify {
  float: right;
  margin-right: 0.4266666666666667rem;
}
.shopSelect img {
  width: 0.3413333333333333rem;
  float: right;
  margin-top: 0.8106666666666666rem;
}
.noShopSelect {
  position: relative;
  width: 100%;
  height: 9.6rem;
  background-color: #f5f5f5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noShopSelect .icon img {
  width: 3.0933333333333333rem;
}
.noShopSelect .icon p {
  font-size: 0.64rem;
  color: #999999;
  margin-top: 0.4266666666666667rem;
}
.ReservationShop {
  box-sizing: border-box;
  padding: 0 0.64rem;
  border-bottom: 0.4266666666666667rem solid #f3f3f3;
}
.ReservationShop .ReservationHead {
  line-height: 2.1333333333333333rem;
}
.ReservationShop .ReservationHead .iconReservation {
  width: 0.64rem;
  vertical-align: middle;
}
.ReservationShop .ReservationHead .text {
  font-size: 0.64rem;
  color: #333333;
}
.ReservationShop .ReservationHead .moreShop {
  font-size: 0.5546666666666666rem;
  color: #666666;
  float: right;
  margin-right: 0.4266666666666667rem;
}
.ReservationShop .ReservationHead .btnRight {
  width: 0.3413333333333333rem;
  float: right;
  margin-top: 0.8533333333333334rem;
}
.ReservationShop .ReservationShopList {
  width: 100%;
}
.ReservationShop .ReservationShopList .ReservationShopItem {
  position: relative;
  box-sizing: border-box;
  padding: 0.8533333333333334rem 0;
  border-top: 1px solid #f3f3f3;
}
.ReservationShop .ReservationShopList .ReservationShopItem .shopImg {
  width: 2.1333333333333333rem;
  height: 2.1333333333333333rem;
  border-radius: 0.17066666666666666rem;
  background-color: #EF508D;
  overflow: hidden;
  float: left;
}
.ReservationShop .ReservationShopList .ReservationShopItem .shopImg img {
  width: 100%;
}
.ReservationShop .ReservationShopList .ReservationShopItem .shopMessage {
  width: 7.8933333333333335rem;
  margin-left: 2.7733333333333334rem;
  font-size: 0.5546666666666666rem;
  color: #666666;
}
.ReservationShop .ReservationShopList .ReservationShopItem .shopMessage .shopName {
  font-size: 0.64rem;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ReservationShop .ReservationShopList .ReservationShopItem .shopMessage .tel {
  margin-top: 0.512rem;
  margin-bottom: 0.2986666666666667rem;
}
.ReservationShop .ReservationShopList .ReservationShopItem .shopMessage .address {
  line-height: 0.64rem;
}
.ReservationShop .ReservationShopList .ReservationShopItem .adAndTel {
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.32rem;
}
.ReservationShop .ReservationShopList .ReservationShopItem .adAndTel img {
  width: 0.9386666666666666rem;
  vertical-align: middle;
}
.ReservationShop .ReservationShopList .ReservationShopItem .adAndTel .verticalLine {
  display: inline-block;
  width: 0.042666666666666665rem;
  height: 0.64rem;
  background-color: #DCDCDC;
  vertical-align: middle;
  margin: 0 0.5546666666666666rem;
}
.hasShopSelect {
  box-sizing: border-box;
  padding: 0 0.64rem;
}
.ReservationShopList {
  width: 100%;
}
.ReservationShopList .ReservationShopItem {
  position: relative;
  box-sizing: border-box;
  padding: 0.8533333333333334rem 0;
  border-top: 1px solid #f3f3f3;
}
.ReservationShopList .ReservationShopItem .shopImg {
  width: 2.1333333333333333rem;
  height: 2.1333333333333333rem;
  border-radius: 0.17066666666666666rem;
  background-color: #EF508D;
  overflow: hidden;
  float: left;
}
.ReservationShopList .ReservationShopItem .shopImg img {
  width: 100%;
}
.ReservationShopList .ReservationShopItem .shopMessage {
  width: 7.8933333333333335rem;
  margin-left: 2.7733333333333334rem;
  font-size: 0.5546666666666666rem;
  color: #666666;
}
.ReservationShopList .ReservationShopItem .shopMessage .shopName {
  font-size: 0.64rem;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ReservationShopList .ReservationShopItem .shopMessage .tel {
  margin-top: 0.512rem;
  margin-bottom: 0.2986666666666667rem;
}
.ReservationShopList .ReservationShopItem .shopMessage .address {
  line-height: 0.64rem;
}
.ReservationShopList .ReservationShopItem .adAndTel {
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.32rem;
}
.ReservationShopList .ReservationShopItem .adAndTel img {
  width: 0.9386666666666666rem;
  vertical-align: middle;
}
.ReservationShopList .ReservationShopItem .adAndTel .verticalLine {
  display: inline-block;
  width: 0.042666666666666665rem;
  height: 0.64rem;
  background-color: #DCDCDC;
  vertical-align: middle;
  margin: 0 0.5546666666666666rem;
}
/*省级联动*/
div.drum-wrapper {
  position: relative;
  /*-webkit-touch-callout:none;-webkit-user-select:none;*/
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 30px;
}
div.drum-wrapper .inner {
  position: relative;
  overflow: hidden;
}
div.drum-wrapper div.container {
  position: absolute;
  width: 100%;
  top: 48px;
  left: 0;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px;
  -o-perspective: 1100px;
  perspective: 1100px;
}
div.drum-wrapper,
div.drum-wrapper .inner {
  height: 120px;
}
.outside div.drum-wrapper {
  height: 140px;
}
.outside div.drum-wrapper .inner {
  top: 12px;
}
.outside div.drum-wrapper .container {
  top: 46px;
}
div.drum-wrapper .dial {
  position: absolute;
  width: 100%;
  left: 0;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
}
.outside div.drum-wrapper .dial {
  height: 58px;
}
div.drum-wrapper .dial div {
  width: 20px;
  height: 10px;
  margin: 0 auto;
}
div.drum-wrapper .dial svg {
  position: absolute;
}
div.drum-wrapper .up {
  top: 0;
}
div.drum-wrapper .up svg {
  top: 2px;
}
div.drum-wrapper .down {
  bottom: 0;
}
div.drum-wrapper .down svg {
  bottom: 2px;
}
div.drum {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
div.drum figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 20px;
  color: #000;
  margin: 0;
  padding: 0 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
div.drum-wrapper div.container,
div.drum-wrapper figure {
  height: 25px;
  line-height: 25px;
}
div.drum-wrapper div.container,
div.drum-wrapper figure {
  height: 36px;
  line-height: 36px;
}
div.drum-wrapper,
div.drum-wrapper .inner {
  height: 140px;
}
div.drum figure {
  font-size: 14px;
}
.select-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(0, 100%, 0);
}
.select-dialog.show {
  -webkit-transform: translate3d(0, 0, 0);
}
.select-cnt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #ededed;
  pointer-events: auto;
  -webkit-transform: translateY(100%);
}
.select-action {
  height: 40px;
  line-height: 40px;
  color: #1a1a1a;
  padding: 0 12px;
  background: #fff;
  overflow: hidden;
}
.select-action button {
  height: 40px;
  font-size: 16px;
  background: none;
  -webkit-appearance: none;
}
.select-action .cencelBtn {
  float: left;
}
.select-action .submitBtn {
  float: right;
}
.select-dialog .select-cnt:after {
  position: absolute;
  content: ' ';
  left: 0;
  top: 98px;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  pointer-events: none;
}
.select-action .submitBtn:disabled {
  color: #1a1a1a;
  opacity: 1;
}
#address .drum-wrapper {
  float: left;
  width: 33.33%;
  padding: 10px 0;
}
#address .border {
  display: none;
}
#book-time .drum-wrapper {
  float: left;
  width: 50%;
  padding: 10px 0;
}
#book-time .select-cnt:before {
  position: absolute;
  content: ' ';
  left: 50%;
  top: 50px;
  width: 1px;
  height: 70%;
  background: -webkit-radial-gradient(50% 50%, circle, #ebbd30, rgba(255, 255, 255, 0));
}
.select-dialog.show .select-cnt {
  -webkit-transform: translate3d(0, 0, 0);
  transition: 350ms ease-in-out;
}
.select-dialog .select-cnt {
  -webkit-transform: translate3d(0, 100%, 0);
  transition: 350ms ease-in-out;
}
#drum_times div.drum figure {
  text-align: left;
  text-indent: 2.2em;
}
input,
button,
textarea {
  -webkit-appearance: none;
  border: none;
  outline: none;
  border-radius: 0;
}
