@rem: 46.875rem;
body {
  //height: 4000px;
}
.navApp {
  box-sizing: border-box;
  padding: 50/@rem 30/@rem;
}

.navApp .appList .appItem a {
  display: inline-block;
}

.navApp .appList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300/@rem;
  align-content: space-between;
  flex-wrap: wrap;
}

.navApp .appList .appItem {
  text-align: center;
  //flex-grow: 2;
  //flex: 20%;
  width: 20%;

}

.navApp .appList .appItem img {
  display: block;
  width: 80/@rem;
  height: 80/@rem;
}

.navApp .appList .appItem .text {
  font-size: 24/@rem;
  color: #666666;
  margin-top: 26/@rem;
}

.appListBottom {
  margin-top: 40/@rem;
}


//横向滑动的demo
.container-wrap {
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,0.8);
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll; /* 1 */
  /*-webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-overflow-scrolling: touch; !* 2 *!
  text-align: justify; !* 3 *!*/
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {

}
.container > div {
  display: inline-block;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
/*
.box-1 {
  //width: 80%;
  width: 20%;
}
.box-2 {
  width: 20%;
}
.box-3 {
  width: 20%;
}*/
